/dist/Alt/package.json
/dist/Alternative/package.json
/dist/Applicative/package.json
/dist/Apply/package.json
/dist/Array/package.json
/dist/Bifunctor/package.json
/dist/BooleanAlgebra/package.json
/dist/Bounded/package.json
/dist/BoundedDistributiveLattice/package.json
/dist/BoundedJoinSemilattice/package.json
/dist/BoundedLattice/package.json
/dist/BoundedMeetSemilattice/package.json
/dist/CHANGELOG.md
/dist/Category/package.json
/dist/Chain/package.json
/dist/ChainRec/package.json
/dist/Choice/package.json
/dist/Comonad/package.json
/dist/Compactable/package.json
/dist/Console/package.json
/dist/Const/package.json
/dist/Contravariant/package.json
/dist/Date/package.json
/dist/DistributiveLattice/package.json
/dist/Either/package.json
/dist/EitherT/package.json
/dist/Endomorphism/package.json
/dist/Eq/package.json
/dist/Extend/package.json
/dist/Field/package.json
/dist/Filterable/package.json
/dist/FilterableWithIndex/package.json
/dist/Foldable/package.json
/dist/FoldableWithIndex/package.json
/dist/FromEither/package.json
/dist/FromIO/package.json
/dist/FromReader/package.json
/dist/FromState/package.json
/dist/FromTask/package.json
/dist/FromThese/package.json
/dist/Functor/package.json
/dist/FunctorWithIndex/package.json
/dist/Group/package.json
/dist/HKT/package.json
/dist/HKT.d.ts
/dist/HeytingAlgebra/package.json
/dist/IO/package.json
/dist/IOEither/package.json
/dist/IORef/package.json
/dist/Identity/package.json
/dist/Invariant/package.json
/dist/JoinSemilattice/package.json
/dist/Json/package.json
/dist/LICENSE
/dist/Lattice/package.json
/dist/Magma/package.json
/dist/Map/package.json
/dist/MeetSemilattice/package.json
/dist/Monad/package.json
/dist/MonadIO/package.json
/dist/MonadTask/package.json
/dist/MonadThrow/package.json
/dist/Monoid/package.json
/dist/NaturalTransformation/package.json
/dist/NonEmptyArray/package.json
/dist/Option/package.json
/dist/OptionT/package.json
/dist/Ord/package.json
/dist/Ordering/package.json
/dist/Pointed/package.json
/dist/Predicate/package.json
/dist/Profunctor/package.json
/dist/README.md
/dist/Random/package.json
/dist/Reader/package.json
/dist/ReaderEither/package.json
/dist/ReaderT/package.json
/dist/ReaderTask/package.json
/dist/ReaderTaskEither/package.json
/dist/ReadonlyArray/package.json
/dist/ReadonlyMap/package.json
/dist/ReadonlyNonEmptyArray/package.json
/dist/ReadonlyRecord/package.json
/dist/ReadonlySet/package.json
/dist/ReadonlyTuple/package.json
/dist/Record/package.json
/dist/Refinement/package.json
/dist/Ring/package.json
/dist/Semigroup/package.json
/dist/Semigroupoid/package.json
/dist/Semiring/package.json
/dist/Separated/package.json
/dist/Set/package.json
/dist/Show/package.json
/dist/State/package.json
/dist/StateReaderTaskEither/package.json
/dist/StateT/package.json
/dist/Store/package.json
/dist/Strong/package.json
/dist/Task/package.json
/dist/TaskEither/package.json
/dist/TaskOption/package.json
/dist/TaskThese/package.json
/dist/These/package.json
/dist/TheseT/package.json
/dist/Traced/package.json
/dist/Traversable/package.json
/dist/TraversableWithIndex/package.json
/dist/Tree/package.json
/dist/Tuple/package.json
/dist/Unfoldable/package.json
/dist/ValidationT/package.json
/dist/Witherable/package.json
/dist/Writer/package.json
/dist/WriterT/package.json
/dist/Zero/package.json
/dist/boolean/package.json
/dist/es6/Alt.d.ts
/dist/es6/Alt.js
/dist/es6/Alternative.d.ts
/dist/es6/Alternative.js
/dist/es6/Applicative.d.ts
/dist/es6/Applicative.js
/dist/es6/Apply.d.ts
/dist/es6/Apply.js
/dist/es6/Array.d.ts
/dist/es6/Array.js
/dist/es6/Bifunctor.d.ts
/dist/es6/Bifunctor.js
/dist/es6/BooleanAlgebra.d.ts
/dist/es6/BooleanAlgebra.js
/dist/es6/Bounded.d.ts
/dist/es6/Bounded.js
/dist/es6/BoundedDistributiveLattice.d.ts
/dist/es6/BoundedDistributiveLattice.js
/dist/es6/BoundedJoinSemilattice.d.ts
/dist/es6/BoundedJoinSemilattice.js
/dist/es6/BoundedLattice.d.ts
/dist/es6/BoundedLattice.js
/dist/es6/BoundedMeetSemilattice.d.ts
/dist/es6/BoundedMeetSemilattice.js
/dist/es6/Category.d.ts
/dist/es6/Category.js
/dist/es6/Chain.d.ts
/dist/es6/Chain.js
/dist/es6/ChainRec.d.ts
/dist/es6/ChainRec.js
/dist/es6/Choice.d.ts
/dist/es6/Choice.js
/dist/es6/Comonad.d.ts
/dist/es6/Comonad.js
/dist/es6/Compactable.d.ts
/dist/es6/Compactable.js
/dist/es6/Console.d.ts
/dist/es6/Console.js
/dist/es6/Const.d.ts
/dist/es6/Const.js
/dist/es6/Contravariant.d.ts
/dist/es6/Contravariant.js
/dist/es6/Date.d.ts
/dist/es6/Date.js
/dist/es6/DistributiveLattice.d.ts
/dist/es6/DistributiveLattice.js
/dist/es6/Either.d.ts
/dist/es6/Either.js
/dist/es6/EitherT.d.ts
/dist/es6/EitherT.js
/dist/es6/Endomorphism.d.ts
/dist/es6/Endomorphism.js
/dist/es6/Eq.d.ts
/dist/es6/Eq.js
/dist/es6/Extend.d.ts
/dist/es6/Extend.js
/dist/es6/Field.d.ts
/dist/es6/Field.js
/dist/es6/Filterable.d.ts
/dist/es6/Filterable.js
/dist/es6/FilterableWithIndex.d.ts
/dist/es6/FilterableWithIndex.js
/dist/es6/Foldable.d.ts
/dist/es6/Foldable.js
/dist/es6/FoldableWithIndex.d.ts
/dist/es6/FoldableWithIndex.js
/dist/es6/FromEither.d.ts
/dist/es6/FromEither.js
/dist/es6/FromIO.d.ts
/dist/es6/FromIO.js
/dist/es6/FromReader.d.ts
/dist/es6/FromReader.js
/dist/es6/FromState.d.ts
/dist/es6/FromState.js
/dist/es6/FromTask.d.ts
/dist/es6/FromTask.js
/dist/es6/FromThese.d.ts
/dist/es6/FromThese.js
/dist/es6/Functor.d.ts
/dist/es6/Functor.js
/dist/es6/FunctorWithIndex.d.ts
/dist/es6/FunctorWithIndex.js
/dist/es6/Group.d.ts
/dist/es6/Group.js
/dist/es6/HKT/index.js
/dist/es6/HKT/package.json
/dist/es6/HeytingAlgebra.d.ts
/dist/es6/HeytingAlgebra.js
/dist/es6/IO.d.ts
/dist/es6/IO.js
/dist/es6/IOEither.d.ts
/dist/es6/IOEither.js
/dist/es6/IORef.d.ts
/dist/es6/IORef.js
/dist/es6/Identity.d.ts
/dist/es6/Identity.js
/dist/es6/Invariant.d.ts
/dist/es6/Invariant.js
/dist/es6/JoinSemilattice.d.ts
/dist/es6/JoinSemilattice.js
/dist/es6/Json.d.ts
/dist/es6/Json.js
/dist/es6/Lattice.d.ts
/dist/es6/Lattice.js
/dist/es6/Magma.d.ts
/dist/es6/Magma.js
/dist/es6/Map.d.ts
/dist/es6/Map.js
/dist/es6/MeetSemilattice.d.ts
/dist/es6/MeetSemilattice.js
/dist/es6/Monad.d.ts
/dist/es6/Monad.js
/dist/es6/MonadIO.d.ts
/dist/es6/MonadIO.js
/dist/es6/MonadTask.d.ts
/dist/es6/MonadTask.js
/dist/es6/MonadThrow.d.ts
/dist/es6/MonadThrow.js
/dist/es6/Monoid.d.ts
/dist/es6/Monoid.js
/dist/es6/NaturalTransformation.d.ts
/dist/es6/NaturalTransformation.js
/dist/es6/NonEmptyArray.d.ts
/dist/es6/NonEmptyArray.js
/dist/es6/Option.d.ts
/dist/es6/Option.js
/dist/es6/OptionT.d.ts
/dist/es6/OptionT.js
/dist/es6/Ord.d.ts
/dist/es6/Ord.js
/dist/es6/Ordering.d.ts
/dist/es6/Ordering.js
/dist/es6/Pointed.d.ts
/dist/es6/Pointed.js
/dist/es6/Predicate.d.ts
/dist/es6/Predicate.js
/dist/es6/Profunctor.d.ts
/dist/es6/Profunctor.js
/dist/es6/Random.d.ts
/dist/es6/Random.js
/dist/es6/Reader.d.ts
/dist/es6/Reader.js
/dist/es6/ReaderEither.d.ts
/dist/es6/ReaderEither.js
/dist/es6/ReaderT.d.ts
/dist/es6/ReaderT.js
/dist/es6/ReaderTask.d.ts
/dist/es6/ReaderTask.js
/dist/es6/ReaderTaskEither.d.ts
/dist/es6/ReaderTaskEither.js
/dist/es6/ReadonlyArray.d.ts
/dist/es6/ReadonlyArray.js
/dist/es6/ReadonlyMap.d.ts
/dist/es6/ReadonlyMap.js
/dist/es6/ReadonlyNonEmptyArray.d.ts
/dist/es6/ReadonlyNonEmptyArray.js
/dist/es6/ReadonlyRecord.d.ts
/dist/es6/ReadonlyRecord.js
/dist/es6/ReadonlySet.d.ts
/dist/es6/ReadonlySet.js
/dist/es6/ReadonlyTuple.d.ts
/dist/es6/ReadonlyTuple.js
/dist/es6/Record.d.ts
/dist/es6/Record.js
/dist/es6/Refinement.d.ts
/dist/es6/Refinement.js
/dist/es6/Ring.d.ts
/dist/es6/Ring.js
/dist/es6/Semigroup.d.ts
/dist/es6/Semigroup.js
/dist/es6/Semigroupoid.d.ts
/dist/es6/Semigroupoid.js
/dist/es6/Semiring.d.ts
/dist/es6/Semiring.js
/dist/es6/Separated.d.ts
/dist/es6/Separated.js
/dist/es6/Set.d.ts
/dist/es6/Set.js
/dist/es6/Show.d.ts
/dist/es6/Show.js
/dist/es6/State.d.ts
/dist/es6/State.js
/dist/es6/StateReaderTaskEither.d.ts
/dist/es6/StateReaderTaskEither.js
/dist/es6/StateT.d.ts
/dist/es6/StateT.js
/dist/es6/Store.d.ts
/dist/es6/Store.js
/dist/es6/Strong.d.ts
/dist/es6/Strong.js
/dist/es6/Task.d.ts
/dist/es6/Task.js
/dist/es6/TaskEither.d.ts
/dist/es6/TaskEither.js
/dist/es6/TaskOption.d.ts
/dist/es6/TaskOption.js
/dist/es6/TaskThese.d.ts
/dist/es6/TaskThese.js
/dist/es6/These.d.ts
/dist/es6/These.js
/dist/es6/TheseT.d.ts
/dist/es6/TheseT.js
/dist/es6/Traced.d.ts
/dist/es6/Traced.js
/dist/es6/Traversable.d.ts
/dist/es6/Traversable.js
/dist/es6/TraversableWithIndex.d.ts
/dist/es6/TraversableWithIndex.js
/dist/es6/Tree.d.ts
/dist/es6/Tree.js
/dist/es6/Tuple.d.ts
/dist/es6/Tuple.js
/dist/es6/Unfoldable.d.ts
/dist/es6/Unfoldable.js
/dist/es6/ValidationT.d.ts
/dist/es6/ValidationT.js
/dist/es6/Witherable.d.ts
/dist/es6/Witherable.js
/dist/es6/Writer.d.ts
/dist/es6/Writer.js
/dist/es6/WriterT.d.ts
/dist/es6/WriterT.js
/dist/es6/Zero.d.ts
/dist/es6/Zero.js
/dist/es6/boolean.d.ts
/dist/es6/boolean.js
/dist/es6/function.d.ts
/dist/es6/function.js
/dist/es6/index.d.ts
/dist/es6/index.js
/dist/es6/internal.d.ts
/dist/es6/internal.js
/dist/es6/number.d.ts
/dist/es6/number.js
/dist/es6/pipeable.d.ts
/dist/es6/pipeable.js
/dist/es6/string.d.ts
/dist/es6/string.js
/dist/es6/struct.d.ts
/dist/es6/struct.js
/dist/es6/void.d.ts
/dist/es6/void.js
/dist/function/package.json
/dist/internal/package.json
/dist/lib/Alt.d.ts
/dist/lib/Alt.js
/dist/lib/Alternative.d.ts
/dist/lib/Alternative.js
/dist/lib/Applicative.d.ts
/dist/lib/Applicative.js
/dist/lib/Apply.d.ts
/dist/lib/Apply.js
/dist/lib/Array.d.ts
/dist/lib/Array.js
/dist/lib/Bifunctor.d.ts
/dist/lib/Bifunctor.js
/dist/lib/BooleanAlgebra.d.ts
/dist/lib/BooleanAlgebra.js
/dist/lib/Bounded.d.ts
/dist/lib/Bounded.js
/dist/lib/BoundedDistributiveLattice.d.ts
/dist/lib/BoundedDistributiveLattice.js
/dist/lib/BoundedJoinSemilattice.d.ts
/dist/lib/BoundedJoinSemilattice.js
/dist/lib/BoundedLattice.d.ts
/dist/lib/BoundedLattice.js
/dist/lib/BoundedMeetSemilattice.d.ts
/dist/lib/BoundedMeetSemilattice.js
/dist/lib/Category.d.ts
/dist/lib/Category.js
/dist/lib/Chain.d.ts
/dist/lib/Chain.js
/dist/lib/ChainRec.d.ts
/dist/lib/ChainRec.js
/dist/lib/Choice.d.ts
/dist/lib/Choice.js
/dist/lib/Comonad.d.ts
/dist/lib/Comonad.js
/dist/lib/Compactable.d.ts
/dist/lib/Compactable.js
/dist/lib/Console.d.ts
/dist/lib/Console.js
/dist/lib/Const.d.ts
/dist/lib/Const.js
/dist/lib/Contravariant.d.ts
/dist/lib/Contravariant.js
/dist/lib/Date.d.ts
/dist/lib/Date.js
/dist/lib/DistributiveLattice.d.ts
/dist/lib/DistributiveLattice.js
/dist/lib/Either.d.ts
/dist/lib/Either.js
/dist/lib/EitherT.d.ts
/dist/lib/EitherT.js
/dist/lib/Endomorphism.d.ts
/dist/lib/Endomorphism.js
/dist/lib/Eq.d.ts
/dist/lib/Eq.js
/dist/lib/Extend.d.ts
/dist/lib/Extend.js
/dist/lib/Field.d.ts
/dist/lib/Field.js
/dist/lib/Filterable.d.ts
/dist/lib/Filterable.js
/dist/lib/FilterableWithIndex.d.ts
/dist/lib/FilterableWithIndex.js
/dist/lib/Foldable.d.ts
/dist/lib/Foldable.js
/dist/lib/FoldableWithIndex.d.ts
/dist/lib/FoldableWithIndex.js
/dist/lib/FromEither.d.ts
/dist/lib/FromEither.js
/dist/lib/FromIO.d.ts
/dist/lib/FromIO.js
/dist/lib/FromReader.d.ts
/dist/lib/FromReader.js
/dist/lib/FromState.d.ts
/dist/lib/FromState.js
/dist/lib/FromTask.d.ts
/dist/lib/FromTask.js
/dist/lib/FromThese.d.ts
/dist/lib/FromThese.js
/dist/lib/Functor.d.ts
/dist/lib/Functor.js
/dist/lib/FunctorWithIndex.d.ts
/dist/lib/FunctorWithIndex.js
/dist/lib/Group.d.ts
/dist/lib/Group.js
/dist/lib/HKT/index.js
/dist/lib/HKT/package.json
/dist/lib/HeytingAlgebra.d.ts
/dist/lib/HeytingAlgebra.js
/dist/lib/IO.d.ts
/dist/lib/IO.js
/dist/lib/IOEither.d.ts
/dist/lib/IOEither.js
/dist/lib/IORef.d.ts
/dist/lib/IORef.js
/dist/lib/Identity.d.ts
/dist/lib/Identity.js
/dist/lib/Invariant.d.ts
/dist/lib/Invariant.js
/dist/lib/JoinSemilattice.d.ts
/dist/lib/JoinSemilattice.js
/dist/lib/Json.d.ts
/dist/lib/Json.js
/dist/lib/Lattice.d.ts
/dist/lib/Lattice.js
/dist/lib/Magma.d.ts
/dist/lib/Magma.js
/dist/lib/Map.d.ts
/dist/lib/Map.js
/dist/lib/MeetSemilattice.d.ts
/dist/lib/MeetSemilattice.js
/dist/lib/Monad.d.ts
/dist/lib/Monad.js
/dist/lib/MonadIO.d.ts
/dist/lib/MonadIO.js
/dist/lib/MonadTask.d.ts
/dist/lib/MonadTask.js
/dist/lib/MonadThrow.d.ts
/dist/lib/MonadThrow.js
/dist/lib/Monoid.d.ts
/dist/lib/Monoid.js
/dist/lib/NaturalTransformation.d.ts
/dist/lib/NaturalTransformation.js
/dist/lib/NonEmptyArray.d.ts
/dist/lib/NonEmptyArray.js
/dist/lib/Option.d.ts
/dist/lib/Option.js
/dist/lib/OptionT.d.ts
/dist/lib/OptionT.js
/dist/lib/Ord.d.ts
/dist/lib/Ord.js
/dist/lib/Ordering.d.ts
/dist/lib/Ordering.js
/dist/lib/Pointed.d.ts
/dist/lib/Pointed.js
/dist/lib/Predicate.d.ts
/dist/lib/Predicate.js
/dist/lib/Profunctor.d.ts
/dist/lib/Profunctor.js
/dist/lib/Random.d.ts
/dist/lib/Random.js
/dist/lib/Reader.d.ts
/dist/lib/Reader.js
/dist/lib/ReaderEither.d.ts
/dist/lib/ReaderEither.js
/dist/lib/ReaderT.d.ts
/dist/lib/ReaderT.js
/dist/lib/ReaderTask.d.ts
/dist/lib/ReaderTask.js
/dist/lib/ReaderTaskEither.d.ts
/dist/lib/ReaderTaskEither.js
/dist/lib/ReadonlyArray.d.ts
/dist/lib/ReadonlyArray.js
/dist/lib/ReadonlyMap.d.ts
/dist/lib/ReadonlyMap.js
/dist/lib/ReadonlyNonEmptyArray.d.ts
/dist/lib/ReadonlyNonEmptyArray.js
/dist/lib/ReadonlyRecord.d.ts
/dist/lib/ReadonlyRecord.js
/dist/lib/ReadonlySet.d.ts
/dist/lib/ReadonlySet.js
/dist/lib/ReadonlyTuple.d.ts
/dist/lib/ReadonlyTuple.js
/dist/lib/Record.d.ts
/dist/lib/Record.js
/dist/lib/Refinement.d.ts
/dist/lib/Refinement.js
/dist/lib/Ring.d.ts
/dist/lib/Ring.js
/dist/lib/Semigroup.d.ts
/dist/lib/Semigroup.js
/dist/lib/Semigroupoid.d.ts
/dist/lib/Semigroupoid.js
/dist/lib/Semiring.d.ts
/dist/lib/Semiring.js
/dist/lib/Separated.d.ts
/dist/lib/Separated.js
/dist/lib/Set.d.ts
/dist/lib/Set.js
/dist/lib/Show.d.ts
/dist/lib/Show.js
/dist/lib/State.d.ts
/dist/lib/State.js
/dist/lib/StateReaderTaskEither.d.ts
/dist/lib/StateReaderTaskEither.js
/dist/lib/StateT.d.ts
/dist/lib/StateT.js
/dist/lib/Store.d.ts
/dist/lib/Store.js
/dist/lib/Strong.d.ts
/dist/lib/Strong.js
/dist/lib/Task.d.ts
/dist/lib/Task.js
/dist/lib/TaskEither.d.ts
/dist/lib/TaskEither.js
/dist/lib/TaskOption.d.ts
/dist/lib/TaskOption.js
/dist/lib/TaskThese.d.ts
/dist/lib/TaskThese.js
/dist/lib/These.d.ts
/dist/lib/These.js
/dist/lib/TheseT.d.ts
/dist/lib/TheseT.js
/dist/lib/Traced.d.ts
/dist/lib/Traced.js
/dist/lib/Traversable.d.ts
/dist/lib/Traversable.js
/dist/lib/TraversableWithIndex.d.ts
/dist/lib/TraversableWithIndex.js
/dist/lib/Tree.d.ts
/dist/lib/Tree.js
/dist/lib/Tuple.d.ts
/dist/lib/Tuple.js
/dist/lib/Unfoldable.d.ts
/dist/lib/Unfoldable.js
/dist/lib/ValidationT.d.ts
/dist/lib/ValidationT.js
/dist/lib/Witherable.d.ts
/dist/lib/Witherable.js
/dist/lib/Writer.d.ts
/dist/lib/Writer.js
/dist/lib/WriterT.d.ts
/dist/lib/WriterT.js
/dist/lib/Zero.d.ts
/dist/lib/Zero.js
/dist/lib/boolean.d.ts
/dist/lib/boolean.js
/dist/lib/function.d.ts
/dist/lib/function.js
/dist/lib/index.d.ts
/dist/lib/index.js
/dist/lib/internal.d.ts
/dist/lib/internal.js
/dist/lib/number.d.ts
/dist/lib/number.js
/dist/lib/pipeable.d.ts
/dist/lib/pipeable.js
/dist/lib/string.d.ts
/dist/lib/string.js
/dist/lib/struct.d.ts
/dist/lib/struct.js
/dist/lib/void.d.ts
/dist/lib/void.js
/dist/number/package.json
/dist/package.json
/dist/pipeable/package.json
/dist/string/package.json
/dist/struct/package.json
/dist/void/package.json
/node_modules
